<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<h1 th:text="'Hello '+${name.getUsername()}+' , '+${name.getPassword()}"></h1>-->

<!--<ul>-->
<!--    <li th:each="user : ${name}" th:text="${user.getUsername()}+' , '+${user.getPassword()}"></li>-->
<!--</ul>-->

<!--<form action="" th:action="@{/login}" th:object="${userdata}" method="post">-->
<form action="#" th:action="@{/login}" th:object="${userdata}" method="post">
    <label>
        username :
        <input type="text" th:field="*{username}">
    </label>username :
    <label>
        password :
        <input type="text" th:field="*{password}">
    </label>
    <input type="submit">
</form>









</body>
</html>